
.block
{
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 20px;
}

.block > .container
{
    display: flex;
    flex-direction: column;
}

.block > .drag-handle
{
    display: inline-block;
    align-self: stretch;
    flex-shrink: 0;
    width: 20px;
    top: 0px;
    cursor: grab;
    background: cyan;
}

.block > .container > .header
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block > .container > .header > .header-text
{
    background: black;
    padding: 5px 10px;
}

.block > .container > .header > .header-drop-area.not-empty
{
    border: 0px;
    background: black;
}

.block > .container > .mainblock-container
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block > .container > .mainblock-container > .mainblock
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #404040;
    border: 2px solid black;
    text-align: center;
}

.block > .container > .mainblock-container > .mainblock > .mainblock-placeholder
{
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.block > .container > .mainblock-container > .mainblock-borderleft
{
    flex-shrink: 0;
    align-self: stretch;
    background: black;
    width: 33px;
}

.drop-area
{
    border: 2px solid black;
    background: #404040;
    display: inline-block;
}

.drop-placeholder
{
    height: 30px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
}

.drop-highlight
{
    border: 2px dashed black !important;
    background: white !important;
    color: black;
}

.block > .container > .header > .header-drop-area.drop-highlight
{
    box-sizing: content-box;
}

.drop-normal
{
    background: #404040;
}

.block.nested
{
    margin: 10px;
}