
.block
{
    display: flex;
    flex-direction: row;
    position: absolute;
    font-size: 20px;
}

.block > .container, .block > .bigger-container
{
    display: flex;
    flex-direction: column;
}

.block > .drag-handle
{
    display: inline-block;
    align-self: stretch;
    flex-shrink: 0;
    width: 20px;
    top: 0px;
    cursor: grab;
    background: cyan;
}

.block > .container > .header
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block > .container > .header > .header-text
{
    background: black;
    padding: 5px 10px;
    user-select: none;
}

.block > .container > .header > .header-drop-area.not-empty, .block > .container > .header > .drop-area.not-empty
{
    border: 0px;
    background: black;
}

.block > .container > .mainblock-container
{
    display: flex;
    justify-content: flex-start;
    width: 100%;
}

.block > .container > .mainblock-container > .mainblock
{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background: #404040;
    border: 2px solid black;
    text-align: center;
}

.block > .container > .mainblock-container > .mainblock > .mainblock-placeholder
{
    box-sizing: border-box;
    height: 60px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.block > .container > .mainblock-container > .mainblock-borderleft
{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
    flex-shrink: 0;
    align-self: stretch;
    background: black;
    width: 33px;
}

.drop-area
{
    border: 2px solid black;
    background: #404040;
    display: inline-block;
}

.drop-placeholder
{
    height: 100%;
    margin-top: -1px;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;
    user-select: none;
    cursor: pointer;
}

.drop-highlight
{
    border: 2px dashed black !important;
    background: white !important;
    color: black;
}

.block > .container > .header > .header-drop-area.drop-highlight
{
    box-sizing: content-box;
}

.drop-normal
{
    background: #404040;
}

.block.nested
{
    margin: 10px;
}

.multi-block-button
{
    cursor: pointer;
    outline: none;
    border: none;
    border-radius: 5px;
    color: white;
    background-color: #222222;
    background-repeat: no-repeat;
    background-position: center;
    background-size: 60% 60%;
    font-family: Consolas;
    transition: background 0.1s linear, opacity 0.1s linear, visibility 0.1s linear;
}

.multi-block-button:hover
{
    background-color: #636363;
}

.multi-block-button:active
{
    background-color: #3a3a3a;
}

.multi-block-button.visible
{
    opacity: 1;
    visibility: visible;
}

.multi-block-button.hidden
{
    opacity: 0;
    visibility: hidden;
}

.multi-block-button.delete-button
{
    background-image: var(--delete-icon);
    width: 24px;
    height: 24px;
}

.multi-block-button.general-button
{
    width: 24px;
    height: 24px;
}