
.variable-assignment, .function-call
{
    position: absolute;
    display: flex;
    flex-direction: row;
    background: black;
    font-size: 20px;
}

.variable-assignment > .drag-handle, .function-call > .drag-handle
{
    width: 20px;
    flex-shrink: 0;
    background: cyan;
    cursor: grab;
}

.variable-assignment > .inline-text, .function-call > .inline-text
{
    padding: 5px 10px;
}

.variable-assignment.nested, .function-call.nested-as-statement
{
    margin: 10px;
}

.variable-assignment > .type-selector, .function-call > .type-selector
{
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: none;

    background-image: var(--dropdown-arrow);
    background-color: #404040;
    background-repeat: no-repeat;
    background-position: right;

    flex-shrink: 0;
    font-size: 20px;
    color: white;
    border: 2px solid black;
    padding: 4px 25px 4px 10px;
    outline: none;
    text-align-last: center;
    height: 34px;
    vertical-align: middle;
}

.inline-text
{
    white-space: nowrap;
}

.function-call > .function-call-inline-text::before
{
    content: "Call function";
}

.function-call.nested-as-expression > .function-call-inline-text::before
{
    content: "Return value of";
}